@tailwind base;
@tailwind utilities;
@tailwind components;

:root {
  --height-triangle: 10;
}

.triangle-up {
  display: block;
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-image: linear-gradient(to top, #81fbb8, #28c76f);
}

.triangle-down {
  display: block;
  width: 15px;
  height: 15px;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background-image: linear-gradient(to top, #ea5455, #feb692);
  transform: rotate(180deg);
}
